@import "../variables";


.mat-menu-content {
  background-color: $layout-header!important; /*Note I have to have @Component ... encapsulation: ViewEncapsulation.None    to set menu drop color     */
}

.header-flex-container {
  display: flex;
  flex-direction: row;

  main {
    display: flex;
    flex-direction: column;
    width: 100%;

    .header-top {
      margin-top: 10px;
      background-color: green;

      span {
        background-color: aqua;
      }

    }

    .hello {
      white-space: nowrap;
      font-size: small;
      opacity: .5;
      height: 1%;
    }

    h1 {
      margin-left: 15px;
      margin-bottom: 5px;
      font-size: 2em;
      white-space: nowrap;
    }
    nav {
      height: 100%;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: left;

    }

  }
  aside {
    margin-top: 10px;
    .hello {
      visibility: hidden;
      width: 0px;
      height: 0px;
      margin: 0;
      padding: 0;
      white-space: nowrap;
      font-size: small;
      opacity: .5;
    }
    button {
      text-align: right;
    }
    margin-right: 15px;
    display: flex;
    flex-direction: column;
  }

}


@media screen and (min-width: 530px){
  .header-flex-container {
    .mat-menu-panel {
      margin-left: 4px;
    }

    main {
      .hello {
        visibility: hidden;
        width: 0px;
        height: 0px;
        margin: 0;
        padding: 0;
      }
      h1 {
        margin-top: 20px;
      }
      nav {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-self: end;
        width: 100%;
        justify-content: left;

        .mat-button {
          margin-top: 8px;
        }
      }
    }

    aside {
      .hello {
        visibility: visible;
        width: 100%;
        height: auto;
        white-space: nowrap;
      }

    }
  }

}

@media screen and (min-width: 1000px) {


}






