<div class="header-flex-container">
  <main>
    <h1>Movie Application</h1>
    <nav>
      <button mat-button *ngIf="(userSubject | async)!==null" routerLink="dashboard">Dashboard</button>
      <button mat-button  [matMenuTriggerFor]="search">Search</button>
      <mat-menu #search="matMenu">
        <button mat-menu-item routerLink="search/movie">Movie</button>
        <button mat-menu-item routerLink="search/people">People</button>
      </mat-menu>
      <button mat-button  routerLink="welcome">Welcome</button>
    </nav>
  </main>
  <aside *ngIf="userSubject | async; let user">
    <span class="hello">Hello&nbsp;{{user.userName}}</span>
    <button mat-button color="primary" (click)="logout()">Logout</button>
  </aside>
  <aside *ngIf="(userSubject | async)==null">
    <button mat-button color="primary" (click)="login()">Login</button>
  </aside>

</div>
