@import "../../variables";

form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  mat-form-field {
    width: 90%;
    margin-left: 1em;

  }
  div {
    width: 100%;
    text-align: left;
    button {
      margin-left: 10px;
    }
    .loginInValid {
      opacity: .9;
      cursor: default;
      color: transparent;
      text-shadow: 0 0 8px #000;
    }
    .loginValid {
      cursor: pointer;
      opacity: 1;

    }
  }

}

