
<form [formGroup]="loginForm" >

  <mat-form-field>
      <mat-label>User</mat-label>
      <input matInput (ngModelChange)="change()" formControlName="user">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" (ngModelChange)="change()" formControlName="password">
  </mat-form-field>

  <div>
  <button [className]="loginValid?'loginValid':'loginInValid'"  [disabled] = "!loginValid"  (click)="loginUser()">Login</button>
  </div>
</form>

