mat-icon.backClick {
  font-weight: bold;
  margin-right: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 100%;
  bottom: 100%;
  height: 100%;
  width: 100%;
  opacity: .15;
  z-index: 0;
}


.detail_page {
  width: 100%;
  margin: 10px;

  .body {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    z-index: 10;

    img {
      height: 400px;
      width: 400px;
    }

    .middle {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-right: 20px;

      .title-summary {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        padding-right: 20px;
        mat-icon.backClick.small {
          margin-left: 90%;
          z-index: 10;
        }

        h1 {
          width: 100%;
          font-size: 30px;
          z-index: 20;
        }
      }
    }
    mat-icon.backClick.large {
      visibility: hidden;
    }
  }

  .info {
   margin-top: 20px;
   margin-left: 10px;

    ul {
      list-style-type: none;
      padding: 0;
      li {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        img {
          height: 25px;
          width: 25px;
        }

        span {
          font-size: 20px;
          padding-top: 2px;
          margin-left: 15px;
        }
      }
    }
  }

}

@media screen and (min-width: 800px) {
  .detail_page {
    display: flex;
    flex-direction: column;
    .body {
      display: flex;
      flex-direction: row;
      margin-left: 1%;
      .middle {
        height: 400px;
        .title-summary {
          margin-left: 6%;
          .backClick.small {
            visibility: hidden;
          }
          h1 {

          }
        }
      }
      mat-icon.backClick.large {
        visibility: visible;
      }
    }

  }
}


