<div *ngIf="(movie$ | async) as movie">
  <img *ngIf="!movie.adult" class="backdrop" alt="Movie Image"
       src="https://www.themoviedb.org/t/p/w188_and_h282_bestv2/{{movie.backdrop_path}}"/>

  <div class="detail_page">
    <div class="body">
      <img *ngIf="!movie.adult" alt="Poster"
           src="https://www.themoviedb.org/t/p/w188_and_h282_bestv2/{{movie.poster_path}}"/>
      <div class="middle">
        <div class="title-summary">
          <mat-icon class="backClick small" title="previous page" (click)="backClicked()">keyboard_backspace</mat-icon>
          <h1>{{movie.title}}
            <app-add-button [item]="movie" [type]="'movie'"></app-add-button>
          </h1>
          <h2>Released: {{movie.release_date | date:'MM/dd/yyyy' }}</h2>
          <p>{{movie.overview}}</p>
        </div>
      </div>

      <mat-icon class="backClick large" title="previous page" (click)="backClicked()">keyboard_backspace</mat-icon>

    </div>

    <div class="info">
      <ul>
        <li *ngFor="let production of movie.production_companies">
          <img src="https://www.themoviedb.org/t/p/w188_and_h282_bestv2/{{production.logo_path}}"/>
          <span>{{production.name}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
