@import "../../../variables";

form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  color: $form-label-color;
}



.test {
  padding: 0!important;
}

button {
  margin: 20px;
  width: 50%;
  background-color: $primary-button-color;
  color: $primary-button-text;
}

button:disabled {
  background-color: $primary-button-disable-color;
  color: transparent;
  text-shadow: 0 0 3px $primary-button-disable-text;
}


mat-radio-group {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 0;

  mat-label {
    color: $form-label-color;
    font-weight: 400;
  }

  .mat-radio-button  {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 1em;
  }

  //::ng-deep.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  //  opacity: 0 !important;     /*click effect color change*/
  //  background-color: rgba(34,34,59,.6)!important;
  //}

  ::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $form-label-color!important;   /*inner circle color change*/
  }

  ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color:black!important; /*outer ring color change*/
  }

}



