
  <form [formGroup]="movieFilterForm" (ngSubmit)="submit()">
    <mat-form-field class="test" appearance="" hintLabel="Information about movie" >
      <mat-label>Query</mat-label>
      <input id="query" matInput placeholder="Query" formControlName="query" required class="query">
    </mat-form-field>
    <mat-form-field class="test" appearance="" hintLabel="Year movie was release" >
      <mat-label>Year</mat-label>
      <input id="year" matInput placeholder="Year" formControlName="year">
    </mat-form-field>

    <button  color="primary"
             type="submit" [disabled]="!movieFilterForm.valid">
      Search</button>
  </form>



