<mat-icon class="green" title="Add to your favorites"  *ngIf="isLoggedIn() && !hasStoredItem(item)" (click)="addItem(item)">library_add</mat-icon>
<mat-icon class="red" title="Remove from your favorites" *ngIf="isLoggedIn() && hasStoredItem(item)" (click)="removeItem(item)">remove_circle_outline</mat-icon>
