$layout-main: rgba(242, 233, 228, 1);
$layout-header: rgba(201, 173, 167, 1); /* by having an opacity of 1 it will hide main scrolling underneath it */
$layout-footer: rgba(154, 140, 152, 1);
$primary-button-color: rgba(74, 78, 105,1) ;
$primary-button-disable-color: rgba(74, 78, 105,.8) ;
$primary-button-text: rgba(247, 248, 250,1);
$primary-button-disable-text: rgba(247, 248, 250,.4);
$text-color: rgba(34, 34, 59,.9);
$form-label-color: rgba(34,34,59,.6);


