@import "variables";


.main-container {
  height: 100%;
  width: 100%;
  display: grid;
  background-color: $layout-main;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 100px 15fr 1fr;
  grid-template-areas:  "header header"
                        "main main";


  header {
    background-color: $layout-header;
    position: fixed;
    width: 100%;
    top: 0;
    grid-area: header;
    border-bottom: solid;
    z-index: 100;
  }


  main {
    margin-top: 5px;
    background-color: $layout-main;
    grid-area: main;
    height: 100%;

  }

  nav {
    display: flex;
    flex-direction: row;
  }

}






