<main>
  <h1>Welcome to the Movie app</h1>
  <ul>
    <li><h3>Search for Users and Movies with the menu Search item above.</h3></li>
    <li *ngIf="(userSubject | async)==null" ><h3>To be able to save results to a dashboard please <a (click)="login()">login</a></h3></li>
  </ul>
</main>
