<div *ngIf="movies$ | async as movies" class="movie-results">
  <mat-paginator *ngIf="movies.movieResults && movies.movieResults.length>0"
                 [length]=movies.searchInfo.total
                 [pageSize]="20"
                 [pageIndex]="movies.searchInfo.page"
                 (page)="pageEvent = getData($event)">
  </mat-paginator>
  <ul>
    <li *ngFor="let movie of movies.movieResults">
      <mat-card *ngIf="movie.expanded==false" (click)="expand(movie)" class="example-card">
        <mat-card-content class="small-content-text">
          <!-- #pipe This is a pipe.  It provides additional functionality runtime.  Another way to put it:  It decorates runtime operation to functionality.  You can build you own pipes -->
          {{movie.title}} ({{movie.release_date | date:'yyyy'}}) <span>{{movie.overview | slice: 0:60}}</span> <span *ngIf="movie?.overview?.length>60">...</span>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="movie.expanded==true" (click)="expand(movie)" class="example-card">
        <mat-card-header>
          <!-- #pipe This is a pipe.  It provides additional functionality runtime.  Another way to put it:  It decorates runtime operation to functionality.  You can build you own pipes -->
          <mat-card-title>{{movie.title}} ({{movie.release_date | date:'yyyy'}})</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{movie.overview}}
          </p>
        </mat-card-content>
        <mat-card-actions *ngIf="movie.id!=null">
          <button [routerLink]="['/details/movie/', movie.id]" mat-button >Details</button>
        </mat-card-actions>
      </mat-card>
    </li>

  </ul>
</div>
<h1 class="noDataFound" *ngIf="(movies$ | async)===null">
  No data found
</h1>

