@import "../../../variables";

mat-paginator {
  width: 300px;
  margin-left: 40px;
  ::ng-deep .mat-paginator-page-size {
    visibility: hidden!important;
  }

}

.movie-results {
  ul {
    margin-right: 15px;
    li {
      list-style-type: none;
      margin-right: 20px;

      .mat-card {
        margin-top: 20px;
        cursor: pointer;
        mat-card-content.small-content-text span {
          font-size: x-small;
        }

        p {
          margin-left: 20px;
          margin-right: 20px;
        }
      }

    }
  }
}

.noDataFound {
  margin-left: 20px;
  margin-top: 30px;
}

::-webkit-scrollbar {
  width: 8px;
  overflow-y: scroll;
  background: lightgray;
  border-radius: 10px;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: $layout-footer;
  border-radius: 10px;
}


@media screen and (min-width: 800px) {
  mat-paginator {
    margin-top: 20px;
  }
}

