<div class="detail_page" *ngIf="personObservable | async as person">

  <header>
    <img alt="Poster" src="https://www.themoviedb.org/t/p/w188_and_h282_bestv2/{{person?.profile_path}}"/>
    <ul class="labelPairList">
      <li>
        <div class="title">
          <h1 class="person_name">{{person?.name}}
            <app-add-button [item]="person" [type]="'person'"></app-add-button>
            <mat-icon class="backClick small" title="previous page" (click)="backClicked()">keyboard_backspace</mat-icon>
          </h1>
        </div>
      </li>
      <li>
        <p class="biography" *ngIf="!person?.show"><a
          (click)="person.show=!person.show">{{person?.biography?.substr(0, 50)}}
          <span class="biography_content" *ngIf="person?.biography?.length>50">...</span>
        </a></p>
        <p class="biography" *ngIf="person?.show"><a (click)="person.show=!person.show"><span class="biography_content">{{person.biography}}</span></a></p>
      </li>
      <li>
        <label>Popularity:</label>
        <span>{{person?.popularity }}</span>
      </li>
      <li>
        <label>Known for:</label>
        <span>{{person?.known_for_department}}</span>
      </li>
      <li>
        <label>from:</label>
        <span>{{person?.place_of_birth}}</span>
      </li>
      <li>
        <label>Date of Birth:</label>
        <span>{{person?.birthday | date: 'MM/dd/yyyy'}}</span>
      </li>
      <li *ngIf="person?.deathday!==null">
        <label>Date of Birth:</label>
        <span>{{person?.deathday | date: 'MM/dd/yyyy'}}</span>
      </li>
      <li>
        <a *ngIf="person?.homepage!==null" target="_blank" href="{{person.homepage}}">Home Page</a>
      </li>
      <li *ngIf="person?.adult">
        Pornographic Actor. Content will be restricted.
      </li>
      <li>
        <label>Also Known as:</label>
        <span>
          <ul class="known">
            <li *ngFor="let known of person?.also_known_as">
              {{known}}
            </li>
          </ul>
        </span>
      </li>
    </ul>
    <mat-icon class="backClick large" title="previous page" (click)="backClicked()">keyboard_backspace</mat-icon>


  </header>
  <main>

    <mat-radio-group [(ngModel)]="selectCredit" aria-label="Select an option">
      <mat-radio-button value="cast">Cast Member</mat-radio-button>
      <mat-radio-button value="crew">Crew Member</mat-radio-button>
    </mat-radio-group>

    <h2 *ngIf="selectCredit==='cast' && (person.credit?.cast===undefined || person.credit?.cast?.length===0)">
      No cast credits found
    </h2>
    <mat-accordion *ngIf="selectCredit==='cast' && person.credit?.cast && person.credit?.cast?.length>0">
      <mat-expansion-panel *ngFor="let cast of person.credit?.cast" (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title class="credit-details-title">
            {{cast.title}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="credit_main">
          <ul class="labelPairList">
            <li>
              <label>Played:</label>
              <span>{{cast.character}}</span>
            </li>
            <li>
              <label>Popularity:</label>
              <span>{{cast.popularity}}</span>
            </li>
            <li>
              <label>When:</label>
              <span>{{cast.release_date | date: 'MM/dd/yyyy'}}</span>
            </li>
            <li>
              <label>Media:</label>
              <span>{{cast.media_type}}</span>
          </ul>
          <img *ngIf="!person.adult"  alt="Poster" src="https://www.themoviedb.org/t/p/w188_and_h282_bestv2/{{cast.poster_path}}"/>
        </div>
        <button [routerLink]="['/details/movie/', cast.id]" mat-button mat-raised-button>Details</button>
      </mat-expansion-panel>

    </mat-accordion>

    <h2 *ngIf="selectCredit==='crew' && (person.credit?.crew===undefined || person.credit?.crew?.length===0)">
      No crew credits found
    </h2>
    <mat-accordion *ngIf="selectCredit==='crew' && person.credit?.crew && person.credit?.crew?.length>0">
      <mat-expansion-panel *ngFor="let crew of person.credit?.crew" (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title class="credit-details-title">
            <div>{{crew.title}}</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="credit_main">
          <ul class="labelPairList">
            <li>
              <label>Department:</label>
              <span>{{crew.department}}</span>
            </li>
            <li>
              <label>Popularity:</label>
              <span>{{crew.popularity}}</span>
            </li>
            <li>
              <label>When:</label>
              <span>{{crew.release_date | date: 'MM/dd/yyyy'}}</span>
            </li>
            <li>
              <label>Media:</label>
              <span>{{crew.media_type}}</span>
            </li>
          </ul>
          <img *ngIf="!person.adult" alt="Poster" src="https://www.themoviedb.org/t/p/w188_and_h282_bestv2/{{crew.poster_path}}"/>
        </div>
        <button [routerLink]="['/details/movie/', crew.id]" mat-button mat-raised-button>Details</button>
      </mat-expansion-panel>

    </mat-accordion>

  </main>

</div>
