@import "../../../app/variables";

.backClick {
  font-weight: bold;
  float: right;
  margin-right: 20px;
  cursor: pointer;
}

ul.labelPairList {
  list-style-type: none;
  margin-left: 5%;
  padding: 0;
  width: 100%;
  li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5px;
    label {
      text-transform: uppercase;
      font-size: small;
      color: darkgray;
      width: 150px;
    }
    span {
      width: 90%;
    }
    button {
      margin: 0;
      padding: 0;
    }
  }
}

.detail_page {
  margin: 15px;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .title {
      display: flex;
      flex-direction: row;
      white-space: nowrap;
      width: 100%;
      h1 {
        margin: 0;
        width: 100%;
        font-size: 30px;
        mat-icon.backClick.small {
          visibility: visible;
        }
      }
    }
    img {
      width: auto;
      height: 400px;
    }


    p {
        cursor: pointer;
    }
    ul.known {
      list-style-type: disc;
      margin: 0;
    }
    mat-icon.backClick.large {
      visibility: hidden;
    }

  }
  main {
    margin-top: 20px;
    mat-radio-group {
      display: flex;
      flex-direction: row;
      gap: 20px;
      margin-bottom: 20px;
    }
    .mat-expansion-panel {
      .credit_main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        img {
          height: 150px;
          width: 150px;
        }
      }
      margin: 5px;

      button {
        float: right;
      }
    }
  }

}

@media screen and (min-width: 1200px) {
  .detail_page {
    margin: 15px;
    display: flex;
    flex-direction: column;

    header {
      flex-wrap: nowrap;

      .title {
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        width: 100%;

        h1 {
          margin: 0;
          width: 100%;
          font-size: 30px;
          mat-icon.backClick.small {
            visibility: hidden;
          }
        }

        img {
        }

        p {
          margin-left: 0px;
          margin-right: 0px;
          width: 1000px;
        }

        ul.known {

        }

      }
      mat-icon.backClick.large {
        visibility: visible;
      }
    }

      main {
        mat-radio-group {
        }

        .mat-expansion-panel {
          margin-right: 50%;
          .credit_main {
            img {
            }
          }

          button {
            background-color: $primary-button-color;
            color: $primary-button-text
          }
        }
      }


  }
}



