.people-filter-container {
  display: grid;
  grid-template-areas: "filter" "results";
  gap: 20px
}

aside {
  grid-area: filter;
  width: 100%;
  height: 100%;
}

main {
  grid-area: results;
}

@media screen and (min-width: 800px) {
  .people-filter-container {
    grid-template-areas: "filter results";
    grid-template-columns: 350px auto;
  }
  aside {
    position: fixed;
    grid-area: filter;
    width: 350px;
  }

}
