.obscure {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  opacity: .05;
}

.dashboard {
  margin-top: 20px;
  position: fixed;
  width: 100%;
  top: 70px;
  bottom: 70px;
  overflow-y: auto;

  ul {
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 2%;
    li {
      margin-top: 10px;
      display: flex;
      flex-direction: row;

      img {
        height: auto;
        width: 100px;
      }
      ul {
          width: 300px;
          margin: 0;
          padding: 0;
          li {
            margin-left: 35px;
            margin-top: 0;
            h1 {
              margin-top: 4px;
              margin-bottom: 12px;
              font-size: 20px;
              cursor: pointer;
            }

            h2 {
              margin: 0 0 0 10px;
              font-size: 14px;
              font-weight: normal;
              cursor: pointer;
            }
          }
      }
      .toggleButtonCol {
        mat-icon {
          vertical-align: middle;
          margin-top: 20px;
          margin-left: 20px;
        }
      }

    }
  }
  mat-icon.red {
    cursor: pointer;
    color: red;
    margin-left: 30px;
  }

}

@media screen and (min-width: 1000px) {
  .dashboard {
    ul {
      margin-left: 15%;
      li {
        img {
          height: auto;
          width: 200px;
        }

        ul {
          width: 620px;

          li {
            width: 600px;

            h1 {
              font-size: 30px;
            }

            h2 {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .dashboard {
    ul {
      li {
        img {
          height: auto;
          width: 150px;
        }
        ul {
            width: 520px;
          li {
            width: 520px;
            h1 {
              font-size: 25px;
            }

            h2 {
              font-size: 16px;
            }
          }
        }
      }
    }

  }
}
