<div class="dashboard">
  <ul>
    <li *ngFor="let favorite of (favorites$ | async)">
      <img [className]="favorite.adult?'obscure':'normal'" alt="Poster"
           src="https://www.themoviedb.org/t/p/w188_and_h282_bestv2/{{favorite.poster}}"/>
      <ul class=".info">
        <li>
          <h1>
            <a *ngIf="favorite.type=='movie'" [routerLink]="['/details/movie/', favorite.id]">{{favorite.header}}</a>
            <a *ngIf="favorite.type=='person'" [routerLink]="['/details/person/', favorite.id]">{{favorite.header}}</a>
          </h1>
        </li>
        <li>
          <h2 *ngIf="!favorite?.show"><a (click)="toggleDescription(favorite)">{{favorite.description?.substr(0, 25)}}
            <span *ngIf="favorite.description?.length>0">...</span>
          </a></h2>
          <h2 *ngIf="favorite?.show"><a (click)="toggleDescription(favorite)">{{favorite.description}}</a></h2>
        </li>
      </ul>
      <div class="toggleButtonCol">
        <mat-icon class="red" title="Remove from your favorites" (click)="removeFavorite(favorite)">
          remove_circle_outline
        </mat-icon>
      </div>
    </li>
  </ul>
</div>
