/* You can add global styles to this file, and also import other style files */
@import "app/variables";
html, body { height: 100%; width: 100%}
body { margin: 0;
  font-family: Roboto,"Helvetica Neue", sans-serif;
  color: $text-color;
}

.mat-button-focus-overlay {
  cursor: pointer;
}

.mat-menu-panel {
  margin-left: 4px;
}

button {
  cursor: pointer;
  height: 35px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 12px;
  background-color: $primary-button-color;
  color: $primary-button-text;
  font-weight: 600;
}
