
<form [formGroup]="peopleFilterForm" (ngSubmit)="submit()">
  <mat-form-field class="test" appearance=""  >
    <mat-label>Actor</mat-label>
    <input id="query" matInput placeholder="Query" formControlName="query" required class="query">
  </mat-form-field>
    <mat-radio-group formControlName="adult" aria-label="Adult film actors">
      <mat-radio-button checked [value]="false">Do Not allow Adult film actors</mat-radio-button>
      <mat-radio-button title="Explicit photos not allowed" [value]="true">Allow for Adult film actors</mat-radio-button>
    </mat-radio-group>
  <button  color="primary"
           type="submit" [disabled]="!peopleFilterForm.valid">
    Search</button>
</form>

