<div *ngIf="people$ | async as people">
  <mat-paginator *ngIf="people.personResults.length>0"
                 [length]=people.searchInfo.total
                 [pageSize]="20"
                 [pageIndex]="people.searchInfo.page"
                 (page)="pageEvent = getData($event)">
  </mat-paginator>

  <ul>
    <li *ngFor="let person of people.personResults">
      <mat-card class="example-card">
        <mat-card-header>
          <img  alt="Actor Image" src="https://www.themoviedb.org/t/p/w188_and_h282_bestv2/{{person.profile_path}}"/>
          <div class="information">
            <mat-card-title>
              {{person.name}}
              <span>
                {{person.id}}
              </span>
              <mat-icon [routerLink]="['/details/person/', person.id]" title="Actor Details">zoom_in</mat-icon>
            </mat-card-title>
            <ul>
              <li class="noBreak">{{person.gender===1?"Female":person.gender===2?"Male":""}}</li>
              <li class="noBreak">{{person.known_for_department}}</li>
              <li class="noBreak" *ngIf="person.adult">Pornography Actor</li>
              <li class="noBreak">Popularity: {{person.popularity | popularity}}</li>
            </ul>
          </div>
          <div class="knownFor">
            <ul *ngIf="!person.adult">
              <li *ngFor="let known of person.known_for">
                {{known.title}}
              </li>
            </ul>
          </div>
        </mat-card-header>
        <mat-card-actions *ngIf="person.id!=null">
<!--          <button [routerLink]="['/details/people/'+ .id]" mat-button >Details</button>-->
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</div>
<h1 class="noDataFound" *ngIf="(people$ | async)===null">
  No data found
</h1>


