mat-paginator {
  width: 300px;
  margin-left: 40px;
  ::ng-deep .mat-paginator-page-size {
    visibility: hidden!important;
  }
}

.noBreak {
  white-space: nowrap;
}


li {
  list-style-type: none;
  margin-right: 20px;
  .mat-card {
    .mat-card-header {
      width: 100%;
    }
    .mat-card-title {
      margin-bottom: 10px;
      span {
        opacity: .25;
      }
      mat-icon {
        font-size: 30px;
        margin-left: 25px;
        cursor: pointer;
      }
    }
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    img {
      height: 135px;
      margin-left: -36px;
    }
    .information {
      margin-left: 25px;
      display: flex;
      flex-direction: column;
    }
    .knownFor {
        visibility: hidden;
    }
    ul {
      margin-left: 5px;
      li {
        margin-top: 5px;
      }
    }


  }

}

.noDataFound {
  margin-left: 20px;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  mat-paginator {
    margin-top: 20px;
  }
  li {
    .mat-card {
      .knownFor {
        visibility: visible;
        margin-left: 10%;
      }
    }
  }
}

